body {
	font-family:'Roboto',sans-serif;
}

.dictionary {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 100px;
}

.form {
	margin-top: 20px;
	display: flex;
}

.search-bar {
	width: 400px;
	height: 40px;
	box-shadow: none;
	font-size: 18px;
}

.input-form {
	display: flex;
	flex-direction: row;
}

.button-form {
	margin-top: 25px;
	margin-left: 1px;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	border-radius:0.12em;
	box-sizing: border-box;
	font-weight:300;
	height: 40px;
}

.definition {
	height: auto;
  	background-color: lightgray;
	padding: 10px;
	box-shadow: 0.5px 0.5px #888888;
}

.wordOfDay {
	font-family: 'Roboto', cursive;
	font-size: 20px;
	text-align: center;
}

.wordOfDayCard {
	margin-right: 30px;
	text-align: center;
	height: auto;
  	background-color: lightgray;
	padding: 10px;
	box-shadow: 0.5px 0.5px #888888;
}

.wordDefinition {
	font-family: Roboto, fantasy;
}
