.map {
    text-align: center;
}

.show-state-data {
    font-family: Roboto, fantasy;
    font-weight: lighter;
	height: auto;
    border-radius: 10px;
    width: max-content;
  	background-color: whitesmoke;
	padding: 20px;
	box-shadow: 0.5px 0.5px #888888;
}

.bold {
    font-weight: bold;
}

.data {
    display: flex;
    justify-content: center;
}

.flex-container-map {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.box1 {
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: indianred;
    margin-right: 5px;
}
.box2 {
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: dodgerblue;
    margin-right: 5px;
}
.box3 {
    color: grey;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: darkorchid;
    margin-right: 5px;
}
.republic {
    margin-top: 3px;
    margin-right: 25px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}
.democratic {
    margin-top: 3px;
    margin-right: 25px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}
.competitive {
    margin-top: 3px;
    margin-right: 25px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}

