@import url('https://fonts.googleapis.com/css?family=Alfa Slab One');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Amethysta');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

#section-red {
	background-color: #C96567
}

.slogan-white {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	padding: 1.5%;
}

.horizontal-line {
	width: 100%;
	height: 0px;
	border-color: #7a7a7a;
	border-width: 1px;
	border-style: solid;
}

.news {
  padding: 10px;
}

.headerclass {
  font-family: "Times New Roman";
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
  border-radius: 50%;
}

.news-form {
  text-align: center;
}

.search-news {
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 800px;
  height: 15px;
}

.newsbutton {
  border-style: hidden;
  height: 40px;
  font-size: 120%;
  font-style: bold;
}

.news-title {
  background-color: #C96567;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: 'Alfa Slab One';
  font-size: 40px;
  text-align: center;
}

.trend-link {
  color: white;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {
  vertical-align: middle;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.tabStyle {
  width: 100%;
}

.newsForm { 
  margin-top: 1em;
  margin-bottom: 1em;
}