.headerclass {
    font-family: "Times New Roman";
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.image {
  border-radius: 50%;
}