@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Amethysta');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

#section-red {
	background-color: #C96567
}

#section-white{
	background-color: white
}


.slogan-white {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	padding: 1.5%;
}

.quiz-button {
    margin-top: 1em;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.quiz-button button {
	display: inline;
	padding: 0.35em 1.2em;
	border: 0.1em solid #314455;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
	background-color: #314455;
	text-align: center;
	transition: all 0.2s;
}

.quiz-button button a:hover{
	color: #000000;
	background-color: #FFFFFF;
}

@media all and (max-width:30em) {
	.quiz-button button a {
		display: block;
		margin: 0.4em auto;
	}
}

.quiz-button label {
	color: white;
	font-family: 'Lora', serif;
}

.quiz-button h6 {
	color: white;
	font-family: 'Lora', serif;
	text-align: right;
}

.leftcolumn {   
  float: left;
  width: 35%;
  padding-right:20px;
  padding-left: 20px;
}

.rightcolumn {
  float: left;
  width: 65%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: #97AABD;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.slogan-black {
	height: 65px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 20px;
}

.slogan-description-black2 {
	height: 30px;
	color: black;
	font-family: 'Lora', serif;
	font-size: 15px;
	text-align: center;
}

.slogan-description-black3 {
	height: 40px;
	color: black;
	font-family: 'Lora', serif;
	font-size: 30px;
	text-align: center;
}

.horizontal-line {
    margin-top: 20px;
	width: 100%;
	height: 0px;
	border-color: #7a7a7a;
	border-width: 1px;
	border-style: solid;
	
}